<nav class="navbar is-info has-text-weight-bold" role="navigation" aria-label="main navigation">
  <div class="container">


    <div class="navbar-brand">
      <!-- navbar items, navbar burger... -->
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Nous
        </a>
        <a class="navbar-item">
          Nos Engagements
        </a>
        <a class="navbar-item">
          Aide
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Connexion
              </a>
              <div class="navbar-dropdown">


<div class="field">
  <div class="control">
      <p class="has-text-centered has-text-black">Name</p>
    <input class="input is-primary" type="text" placeholder="Primary input">
  </div>
</div>
<div class="field">
    <div class="control">
      <p class="has-text-centered has-text-black">Password</p>
      <input class="input is-primary" type="text" placeholder="Primary input">
    </div>
  </div>


  <a class="button is-primary is-fullwidth">Connexion</a>

                  </div>
              
        </a>
      </div>
    </div>
  </div>
</nav>
