<h1 class="is-size-1">Consultation des opérations</h1>

<form (submit)="add(newOperation) ">
<input type="text" [(ngModel)]="newOperation.amount" [ngModelOptions]="{standalone: true}" placeholder="ajouter une opération">
<button>ajouter</button>
</form>
<table class='is-responsive table'>
  <thead>
    <tr>
  <th>Crédit</th>
  <th>Débit</th>
</tr>
</thead>
<tbody>
  <tr *ngFor='let operation of operations'>
    <td *ngIf='operation.amount>0'>{{operation.amount}}</td>
    <td *ngIf='operation.amount>0'></td>

    <td *ngIf='operation.amount<0'></td>
    <td *ngIf='operation.amount<0'>{{operation.amount}}</td>
   
    <td><button (click)='delete(operation)'>Remove</button></td>

  </tr>
</tbody>
</table>
<p *ngIf="accounts">{{accounts[0].balance}}</p>