
<section class="hero is-info is-large">
    <div class="hero-body has-text-centered">
      <div class="container">
                <h1 class="title">
            Gérer votre argent devient simple
        </h1>
        <h2 class="subtitle">
            avec notre application mobile gratuite et sécurisée
        </h2>
      </div>
    </div>
  </section>